annotated-types==0.7.0
certifi==2025.11.12
cffi==2.0.0
cryptography==46.0.3
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
rpds-py==0.30.0
typing-inspection==0.4.2
typing_extensions==4.15.0
wheel==0.45.1
